<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">DISLINKT</a>
    <!--Pretraga javnih ako nije registrovan korisnik??-->
    <div>
      <app-find-user *ngIf="userService.getUserRole() != null"></app-find-user>
    </div>

    <div class="d-flex">
        <button *ngIf="userService.getUserRole() == null" mat-raised-button color="accent" routerLink="login">Login</button>
        <button *ngIf="userService.getUserRole() == null" mat-raised-button color="accent" routerLink="register">Register</button>
        <button *ngIf="userService.getUserRole() != null" mat-raised-button color="accent" routerLink="profile">Profile</button>
        <button *ngIf="userService.getUserRole() != null" mat-raised-button color="primary" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
