<div class="container">
  <!--PROFILE INFO-->
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'whitesmoke'">
      <img *ngIf="user.image !== ''" [src]="user.image" style="text-align:center; vertical-align:middle; max-height:300px; max-width:300px" />
      <p *ngIf="user.image == ''" >NO IMAGE</p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'whitesmoke'">
      <table class="table">
        <tbody>
          <tr>
            <td>
             <button (click)="follow()" *ngIf="!customService.isSelectedUserInFollowingIds()" mat-flat-button color="primary"> Follow </button>
             <button (click)="unFollow()" *ngIf="customService.isSelectedUserInFollowingIds()" mat-flat-button color="primary"> Unfollow </button>
            </td>
            <td></td>
         </tr>
          <tr><td>Full name: </td><td> {{user.firstName}} {{user.lastName}} </td></tr>
          <tr><td>Username: </td><td> {{user.username}} </td></tr>
          <tr><td>Email: </td><td> {{user.email}} </td></tr>
          <tr><td>Phone: </td><td> {{user.phoneNumber}} </td></tr>
          <tr><td>Birth date: </td><td> {{user.birthDate | date: 'dd-MM-yyyy'}} </td></tr>
          <tr><td>Biography: </td><td> {{user.biography}} </td></tr>
      </tbody>
      </table>
    </mat-grid-tile>
  </mat-grid-list>

  <!--BUTTONS-->
  <div fxLayoutAlign="center center" fxFlexFill class="button-main-div">
    <div fxFlex="40" fxLayoutAlign="stretch" fxLayout="column">
      <button class="profile-action-button" mat-flat-button color="primary" routerLink="selectedUserFollowers" > USER FOLLOWERS </button>
      <mat-divider></mat-divider>
      <button class="profile-action-button" mat-flat-button color="primary" routerLink="selectedUserFollowing" > FOLLOWING </button>
      <mat-divider></mat-divider>
      <button class="profile-action-button" mat-flat-button color="primary" routerLink="selectedUserPosts" > USER POSTS </button>
      <mat-divider></mat-divider>
      <!--
      <button *ngIf="user.role == 'COMPANY OWNER'" class="profile-action-button" mat-flat-button color="primary" routerLink="userCompanies" > COMPANIES </button>
      <mat-divider></mat-divider>-->
    </div>
  </div>

</div>
