<div class="container">
  <mat-grid-list cols="3" rowHeight="2:1">
    <!--PROFILE IMAGE-->
    <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'whitesmoke'">
      <img *ngIf="user.image !== ''" [src]="user.image" style="text-align:center; vertical-align:middle; max-height:300px; max-width:300px" />
      <p *ngIf="user.image == ''" >NO IMAGE</p>
    </mat-grid-tile>
    <!--PROFILE INFO-->
    <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'whitesmoke'">
      <table class="table">
        <tbody>
          <tr><td>Full name: </td><td> {{user.firstName}} {{user.lastName}} </td></tr>
          <tr><td>Username: </td><td> {{user.username}} </td></tr>
          <tr><td>Email: </td><td> {{user.email}} </td></tr>
          <tr><td>Phone: </td><td> {{user.phoneNumber}} </td></tr>
          <tr><td>Birth date: </td><td> {{user.birthDate | date: 'dd-MM-yyyy'}} </td></tr>
          <tr><td>Biography: </td><td> {{user.biography}} </td></tr>
      </tbody>
      </table>
    </mat-grid-tile>
  </mat-grid-list>

  <!--BUTTONS-->
  <div fxLayoutAlign="center center" fxFlexFill class="button-main-div">
    <div fxFlex="40" fxLayoutAlign="stretch" fxLayout="column">
      <button class="profile-action-button" mat-flat-button color="primary" routerLink="myFollowers" > MY FOLLOWERS </button>
      <mat-divider></mat-divider>
      <button class="profile-action-button" mat-flat-button color="primary" routerLink="following" > FOLLOWING </button>
      <mat-divider></mat-divider>
      <button class="profile-action-button" mat-flat-button color="primary" routerLink="myPosts" > MY POSTS </button>
      <mat-divider></mat-divider>
      <button class="profile-action-button" mat-flat-button color="primary" routerLink="createPost" > ADD POST </button>
      <mat-divider></mat-divider>
      <!--U CHANGE INFO TREBA DODATI FORME ZA DODAVANJE INTERESOVANJA ZANIMANJA I SLICNE STVARI-->
      <button class="profile-action-button" mat-flat-button color="primary" routerLink="changeInfo" > CHANGE INFO </button>
    </div>
  </div>

</div>


